@media (min-width: 992px) {
    #favoritesForm {
        width: 60%;
        margin: 0 auto;
    }

    .recipe-card {
        padding: 20px;
    }

    .recipe-card .ui-md-4 {
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        height: 250px;
        position:relative;
    }

    .recipe-img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: auto;
        width: 100%;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }
}

@media (max-width: 991px) {
    .recipe-card {
        padding: 10px;
    }

    .recipe-img {
        width: 100%;
    }
}

.recipe-card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 3%;
}

.recipe-card:hover {
    box-shadow: 5px 5px 10px #3c8dbc;
}

.recipe-link {
    color: #3c8dbc !important;
    font-size: large !important;
    /*margin-left: 10px;*/
}

.recipe-link:hover {
    text-decoration: underline
}

#msgPasDeFavoris {
    font-size: medium;
    margin-top: 30px;
}

.red-heart {
    color: red;
    font-size: x-large;
}

.favoritesLink {
    color: red !important;
}