.header {
    width: 100%;
    background-color: #30383c;
    height: 60px;
}

.signOut {
    float: right;
    margin-right: 15px;
    font-size: 1.2em !important;
    color: white !important;
}

.signInUp {
    float: right;
}

.signIn {
    margin-right: 20px;
    font-size: 1.2em !important;
    color: white !important;
}

.signUp {
    float: right;
    margin-right: 15px;
    font-size: 1.2em !important;
    color: black !important;
}

.title {
    margin-left: 20px;
    font-size: 1.4em;
    font-weight: 600;
    color: white;
}

@media (min-width: 992px) {
    .commandLinkMenu {
        display: none;
    }

    #headerForm {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .menuBar {
        background-color: transparent;
        border: none;
        display: table-cell;
        vertical-align: middle;
        height: 60px;
    }

    .menuBarItem span {
        color: white;
        font-size: 1.3em;
    }

    .ui-menuitem {
        border-radius: 0;
    }

    .subMenu ul {
        background-color: #30383c;
        border: none;
        border-radius: 0;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    }

    #headerForm .ui-icon-triangle-1-s, .ui-icon-triangle-1-e {
        display: none !important;
    }

    .activeMB span {
        font-weight: 600;
    }

    .one-hundred-fifty-pixels {
        width: 150px;
    }

    li.ui-menuitem > a.ui-menuitem-link {
        margin-right: 8px;
    }

    .menuBar li.ui-menuitem-active, .subMenu li.ui-menuitem-active {
        background-color: darkslategray !important;
    }

    li.ui-menuitem > a.ui-menuitem-link:hover {
        background: none;
    }
}

@media (max-width: 991px) {
    .three-percent {
        width: 3%;
        padding-left: 20px;
        text-align: center;
    }

    .menuBar {
        display: none;
    }
}

.ui-layout-unit, .ui-layout-unit-content {
    padding: 0 !important;
}

.sixty-percent {
    width: 85%;
}

