.menu {
    width: 100% !important;
    border: none !important;
    padding: 0;
}

.userText {
    font-weight: 600;
    font-size: 1.5em;
}

.menuItem {
    font-size: 1.1em;
}

@media (max-width: 991px) {
    .userPanel {
        background-color: #30383c;
    }

    .userText {
        color: white;
    }

    .menuItem {
        font-size: 1.2em;
        margin-bottom: 5px;
    }
}

.userPanel {
    border: none;
    border-radius: 0 !important;
    text-align: center;
    padding: 0 !important;
    margin-bottom: 10px;
}

.active {
    background: #a0a0a0 !important;
    color: black !important;
}

.ui-sidebar-close {
    visibility: hidden;
}

@media (min-width: 992px) {
    .ui-sidebar-mask {
        visibility: hidden;
    }

    .sideBarMenu {
        top: 60px;
        left: 250px !important;
        box-shadow: none;
        border-right: 1px solid #e2e2e2 !important;
    }
}

.sideBarMenu {
    padding: 0;
    box-shadow: none;
    width: 250px;
    border: none;
}