@media (min-width: 992px) {
    #recipeForm {
        width: 50%;
        margin: 0 auto;
    }

}

.card {
    background-color: white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) !important;
    width: 100%;
}

.panelGrid.ui-panelgrid>*>tr,
.panelGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.panelGrid {
    width: 100%;
}

.panelGridInfos {
    margin-top: 20px;
}

.panelGridInfos td{
    vertical-align: top;
}

.panelGridInfos tr td:nth-child(1) {
    padding-left: 0 !important;
}

.panelGridInfos tr td:nth-child(2) {
    padding-right: 0 !important;
}

.panelDietetic div {
    border: none ;
}

.dataGridAnc {
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
    padding: 10px 0;
    margin: 10px 0 !important;
}

.ingredientsPanel .ui-panel-titlebar {
    background-color: #e3a72e;
}

.stepPanel {
    margin-bottom: 20px;
}

.stepPanel .ui-panel-titlebar {
    background-color: #3c8dbc;
}

.stepPanel h4, .stepPanel p {
    padding-left: .75em;
}

.guidePanel, .dieteticPanel {
    margin-top: 20px;
}

.guidePanel .ui-panel-titlebar {
    background-color: #e63e5f;
}

.dieteticPanel .ui-panel-titlebar {
    background-color: #2c9f56;
}

.ui-panel-titlebar, .ui-panel {
    border-radius: 0 !important;
}

.ui-panel-title {
    color: white !important;
    font-weight: 600 !important;
    font-size: 1.5em !important;
}

.margin-panel {
    margin-left: 10px;
    margin-right: 10px;
}

.padding-panel td {
    padding: .75em;
}

.ingredientsDataList div {
    border: none;
}

.dieteticOutputText {
    color: #2c9f56;
    font-size: 18px;
    font-weight: 600;
}

.guideOutputText {
    color: #e63e5f;
    font-size: 18px;
    font-weight: 600;
}

#recipeForm ul {
    padding-left: 0;
    margin-bottom: 0;
}

#recipeForm ul li:nth-last-child(1) {
    border: 0 !important;
}

#recipeForm li {
    list-style-type: none;
    padding: .625rem;
    border-bottom: 1px solid #ccc;
}

#recipeForm h1 {
    margin-bottom: 20px !important;
    padding: 10px;
    background-color: #3c8dbc;
    color: white;
}

#recipeForm h3 {
    margin-top: 0;
    font-weight: 600 !important;
    color: #3c8dbc;
}

#recipeForm h4 {
    color: #3c8dbc;
    font-weight: 600;
}

.bold {
    font-weight: 600;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.big-font-size {
    font-size: 1.8em !important;
}

.recipeImage {
    width: 100%;
}

#recipeForm p {
    margin-left: 0;
    text-align: justify;
}

@media (max-width: 991px) {
    #recipeForm h1 {
        text-align: center;
    }

    #recipeForm {
        padding-left: 10px;
        padding-right: 10px;
    }

    .ingredientsPanel {
        margin-bottom: 20px;
    }

    .panelGridInfos td {
        padding: 0 !important;
    }
}