@media (min-width: 992px) {
    #recipeCreationForm {
        width: 50%;
        margin: 25px auto;
    }
}

.recipeImage {
    height: 200px;
    margin: 10px 0;
}

.recipeImageUpload {

    box-shadow: none !important;
}

.recipeImageUpload div {
    padding-left: 0;
}

.ui-fileupload-buttonbar, .ui-fileupload-content {
    border: none;
}

.panelGrid.ui-panelgrid>*>tr,
.panelGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.panelGridNewRecipe, .panelGridButton
{
    width: 100%;
}

.panelGridButtons {
    margin-top: 10px;
}

.padding-left td {
    padding-left: 0 !important;
}

.createButton {
    float: right;
}

.margin {
    margin-top: 20px;
    margin-bottom:20px;
}

.textArea {
    resize: none;
}

.panelGridInstructions {
    padding: 0 10px;
}

.panelGridInstructions label {
    display: none;
}

.control-label {
    font-weight: 600 !important;
}
