p {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.2em;
}

.panelGrid.ui-panelgrid>*>tr,
.panelGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.commandButton {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .layoutMenu {
        min-width: 250px;
    }

    .contentDiv {
        padding-left: 250px;
    }
}

@media (max-width: 991px) {
    .layoutMenu {
        display: none !important;
    }
}

.mainLayout {
    width: 100%;
    height: 100%
}

.layoutNoBorder {
    border: none;
}