p {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.2em;
}

.panelGrid.ui-panelgrid>*>tr,
.panelGrid.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.commandButton {
    margin-top: 10px;
}

.mainLayout {
    width: 100%;
    height: 100%;
    border: none;
}

.layoutNoBorder {
    border: none;
}